<!--
    What is Angular?
      - open source frontend framework for building client(frontend) applications in HTML, CSS and JS
      - We use this framework because programming an application with just javascript alone is difficult and tedious
      - Angular is component-based. Meaning that each piece of the HTML page will acctually be a fragment of HTML CSS and JS that we can reuse
      - Google's creation.. (fun fact: React is Facebook's(META) creation) 

    What is a SPA?
      - Single Page Application
      - an application that is constructed using only a single HTML page; "views" are changed using DOM manipulation

    What is a component?
      - A fragment of an HTML page; we'll use muiltiple components like building blocks for the HTML page
      - You can easily change the position of these components and change the view
      - each component will consist of a TS file, HTML file, and CSS file (the testing file is optional)

    


-->

<app-one></app-one>